/**Store BaiduCommonStyle**/
iframe:not([src*='chrome']),
.res_top_banner #foot,
#page .fk,
#head .headBlock,
#rs_top_new,
#wrapper #content_left>table,
#wrapper #content_left .c-recommend,
#wrapper #content_left .leftBlock,
#wrapper #content_left .rrecom-btn-parent,
#demo,
#wrapper #gotoPage,
body>div.result-op,
.rrecom-container,
.chunwan-wrapper{
    display: none!important;
}
#wrapper #content_right{
    margin-right: -6%;
}
body[baidu] {
    background-color: #f5f5f5;
    transition: all 1.5s;
}
#ala_img_results{
    overflow:hidden;
}
body a,
body a em,
#u a ,
#wrapper #content_left .op-soft-title a em,
#wrapper #content_left .result h3 a em {
    text-decoration: none;
}

body a:hover,
body a:hover em{
    text-decoration: none;
}
#wrapper #s_tab {
    border-bottom: #e0e0e0 1px solid;
    background-color: #f8f8f8;
}
body #head{
    background-color: rgba(248, 248, 248, 0.4);
    border-bottom: none;
    backdrop-filter: blur(10px)
}
form.fm {
    background-color: unset;
}
form.fm .bdsug li {
    width: auto;
    color: #000;
    font: 15px arial;
    line-height: 26px;
}
form.fm .s_ipt_wr.bg{
    background: #fff;
    width: 66%;
    min-width: 570px;
}
#content_left .new-pmd .c-span9,
#content_left .new-pmd .c-span10{
    width: unset;
    max-width: calc(100% - 160px);
}
/***fix 2k+ problem***/
#head .head_wrapper{
    width: unset; /*edit: fix baidu banner position*/
}
form.fm .s_btn {
    background: #3476d2;
    border-bottom: 1px solid #3476d2;
}
form.fm .s_btn:hover {
    background: #4F7FbF;
    border-bottom: 1px solid #3476d2;
}
#wrapper #s_tab b {
    color: #3476d2;
    border-bottom: 3px #3476d2 solid;
}

#wrapper .head_nums_cont_outer .search_tool_conter,
#wrapper .head_nums_cont_outer .nums {
    width: 630px;
}
#wrapper #content_left {
    animation-name: ani_bottomTotop;
    -webkit-animation-duration: .2s;
    -webkit-animation-timing-function: ease;
}
#head .head_wrapper{
    animation-name: ani_leftToright;
    -webkit-animation-duration: .2s;
    -webkit-animation-timing-function: ease-out;
}

#wrapper #rs,
#wrapper #content_left .result,
#wrapper #content_left .c-container {
    width: 670px;
    padding: 0px 20px 15px;
    margin-top: 0px;
    margin-bottom: 30px;
    border-radius: 0;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.1);
    transition: all 0.2s cubic-bezier(.23,1,.32,1) 0s;
    overflow: hidden;
}
#wrapper #content_left .c-container:hover,
#wrapper #content_left .result:hover,
#wrapper #content_left .c-container:hover article{
    border: 1px solid rgba(0,0,0,.3);
    box-shadow: 0 0 1px grey;
    -webkit-box-shadow: 0 0 1px grey;
    -moz-box-shadow: 0 0 1px gray;
}
#wrapper #rs[ac-needhide],
#wrapper #content_left .result[ac-needhide],
#wrapper #content_left .c-container[ac-needhide]{
    padding: 5px;
    padding-left: 15px;
}
#wrapper #content_left .result[tpl='soft'] .op-soft-title,
#wrapper #content_left .result h3,
#wrapper #content_left .c-container h3 {
    background-color: #f8f8f8;
    margin: 0px -20px 10px -20px;
    padding: 8px 20px 5px;
    border-radius: 5px 5px 0px 0px;
}
#wrapper #content_left .f13 a,
#wrapper #content_left .f13 em,
#wrapper #content_left .c-span18 a,
#wrapper #content_left .subLink_factory a,
#wrapper #content_left .subLink_answer a,
#wrapper #content_left .c-tabs-content a,
#wrapper #content_left .op_offical_weibo_content a,
#wrapper #content_left .op_offical_weibo_pz a,
#wrapper #content_left .op_tieba2_tablinks_container a,
#wrapper #content_left .op-tieba-general-right,
#wrapper #content_left .op_dq01_title,
#wrapper #content_left .op_dq01_table a,
#wrapper #content_left .op_dq01_morelink a,
#wrapper #content_left .op-tieba-general-mainpl a,
#wrapper #content_left .op-se-listen-recommend,
#wrapper #content_left .c-offset>div a {
    text-decoration: none;
    color: #3476d2;
}
#wrapper #content_left .f13 a:hover,
#wrapper #content_left .f13 em:hover,
#wrapper #content_left .subLink_factory a:hover,
#wrapper #content_left .subLink_answer a:hover,
#wrapper #content_left .c-tabs-content a:hover,
#wrapper #content_left .op_tieba2_tablinks_container a:hover,
#wrapper #content_left .op-tieba-general-right:hover,
#wrapper #content_left .op_dq01_title:hover,
#wrapper #content_left .op_dq01_table a:hover,
#wrapper #content_left .op_dq01_morelink a:hover,
#wrapper #content_left .op-tieba-general-mainpl a:hover,
#wrapper #content_left .op-se-listen-recommend:hover,
#wrapper #content_left .c-offset>div a:hover {
    text-decoration: underline!important;
}
#wrapper #content_left .f13 a {
    color: #008000;
}

#wrapper #content_left .c-span18,
#wrapper #content_left .c-span24{
    width: 100%;
    min-width: unset;
}
#wrapper #content_left .c-border {
    width: auto;
    border: none;
    border-bottom-color: transparent;
    border-right-color: transparent;
    box-shadow: 0px 0px 0px transparent;
    -webkit-box-shadow: 0px 0px 0px transparent;
    -moz-box-shadow: 0px 0px 0px transparent;
    -o-box-shadow: 0px 0px 0px transparent;
}
#wrapper #content_left .se_com_irregular_gallery ul li,
#wrapper #content_left .op_jingyan_list,
#wrapper #content_left .result .op-img-address-link-type {
    display: inline-block;
    margin-left: 10px;
}
#wrapper #content_left .c-container[tpl='soft'] .op-soft-title a,
#wrapper #content_left .c-container[tpl='soft'] .op-soft-title a em,
#wrapper #content_left .c-container h3 a,
#wrapper #content_left .result h3 a em,
#wrapper #content_left .result-op h3 a em {
    color: #3476d2;
    font-weight: bold;
}
#wrapper #content_left .op-soft-title a,
#wrapper #content_left .result h3 a,
#wrapper #content_left .result-op h3 a {
    position: relative;
}
#wrapper #content_left .op-soft-title a:hover:after,
#wrapper #content_left .result h3 a:hover:after,
#wrapper #content_left .result-op h3 a:hover:after {
    left: 0;
    width: 100%;
    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    transition: width 350ms;
}
#wrapper #content_left .op-soft-title a:after,
#wrapper #content_left .result h3 a:after,
#wrapper #content_left .result-op h3 a:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #3476d2;
    bottom: -2px;
    left: 100%;
    width: 0;
    -webkit-transition: width 350ms, left 350ms;
    -moz-transition: width 350ms, left 350ms;
    transition: width 350ms, left 350ms;
}
#wrapper #content_left .result h3,
#wrapper #content_left .result-op h3,
#wrapper #content_left .c-container h3{
    font-weight: bold;
    font-size: medium;
}

#wrapper #content_left .op-soft-title a #content_left .result h3 a,
#wrapper #content_left .op-soft-title a #content_left .result-op h3 a {
    position: relative;
}
#wrapper #content_left .op-soft-title a:visited,
#wrapper #content_left .op-soft-title a:visited em,
#wrapper #content_left .result h3 a:visited,
#wrapper #content_left .result h3 a:visited em {
    color: #660099;
}
#wrapper #content_left .op-soft-title a:visited:hover:after,
#wrapper #content_left .result h3 a:visited:hover:after,
#wrapper #content_left .result-op h3 a:visited:hover:after {
    left: 0;
    width: 100%;
    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    transition: width 350ms;
}
#wrapper #content_left .op-soft-title a:visited:after,
#wrapper #content_left .result h3 a:visited:after,
#wrapper #content_left .result-op h3 a:visited:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #660099;
    bottom: -2px;
    left: 100%;
    width: 0;
    -webkit-transition: width 350ms, left 350ms;
    -moz-transition: width 350ms, left 350ms;
    transition: width 350ms, left 350ms;
}
#wrapper #content_left .c-group-wrapper{
    padding: 0;
    margin: 0 20px 20px 10px;
}
#wrapper #content_left .c-group-wrapper .c-group{
    margin: 0;
    padding-top: 10px;
}
#wrapper #rs{
    margin-top: 0px;
    padding: 0px 20px 15px;
    border-radius: 5px;
    z-index: 1;
}
.wrapper_new #form .bdsug-new{
    padding-right: 11px;
}
#wrapper #rs .tt {
    margin: 0px -20px 5px -20px;
    padding: 5px 20px;
    background-color: #f8f8f8;
    border-radius: 5px 5px 0px 0px;
}
#wrapper #rs table {
    width: 630px;
    padding: 5px 15px;
}
#wrapper #rs table tr a {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #3476d2;
}
#wrapper #rs table tr a:hover {
    text-decoration: underline;
}
#wrapper #page {
    min-width: 710px;
    height: 40px;
    line-height: 40px;
    padding-top: 5px;
    margin-bottom: 50px;
    margin-left: 0px;
}
.op-img-address-desktop-cont{
    overflow: hidden;
}
#wrapper #page a,
#wrapper #page strong {
    color:#3476d2;
    height: auto;
}
#wrapper #page .n{
    height: 34px;
}
#wrapper #page .n:hover,
#wrapper #page a:hover .pc {
    border: 1px solid transparent;
    background: #d8d8d8;
    color: #0057da;
}
#wrapper #page strong .pc {
    background: #3476d2;
    color: white;
}
.op-img-address-divide-high{
    overflow: hidden;
}
#wrapper #kw{
    width: 94%;
}
#container.sam_newgrid .c-container .t .AC-faviconT~a, #container.sam_newgrid .c-container .t .c-icon~a{
    display:inline
}
body #wrapper #content_left a[href*='official'] {
    color: white;
}
#content_left .c-group-middle,#content_left  .c-group-top{
    margin-bottom: 30px !important;
}
@-webkit-keyframes ani_bottomTotop {
    0% {
        -webkit-transform: translateY(32px);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes ani_leftToright {
    0% {
        -webkit-transform: translateX(-32px);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes ani_topTobuttom {
    0% {
        -webkit-transform: translateY(-32px);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
#container.sam_newgrid #content_left .c-container .c-container{
    width: auto;
    min-width: unset;
}
.c-container .c-result-content{
    padding-top: 20px;
}
#wrapper #content_left  .c-container article{
    padding-top: 15px;
    border: unset !important;
    box-shadow: unset !important;
}
body .wrapper_new #head.fix-head .s_form{
    height: 70px;
}
.AC.sp-separator{
    margin-top: -10px;
    width: 650px;
}
#wrapper #content_left .c-container[tpl='recommend_list']{
    padding-top: 10px;
    display: flex;
    align-items: center;
}
@media screen and (max-width:1280px){
    #u .toindex, #u #imsg{
        display: none;
    }
}
@media screen and (min-width: 1921px){
    /*Baidu in 2K screen default in : center*/
    #head .head_wrapper{
        -webkit-transform: translate3d(-140px,0,1px);
        transform: translate3d(-140px,0,1px);
        justify-content: center;
        display: flex;
    }
}
