/**Store BaiduOnePageStyle**/
#wrapper_wrapper #container {
    width: 100%;
}
form.fm{
    position:relative;
    background-color: unset;
}
body[baidu] .pagefoot.gj{
    margin-top: 100px;
}
#result_logo{
    position: relative;
}
#s_tab b,#s_tab a{
    position:relative;
}
#wrapper  .head_nums_cont_outer{
    position:absolute;
    left: 20%;
    width: 60%;
}
#wrapper  #content_left,#wrapper  #rs, #wrapper  #page{
    top: 35px;
    position:relative;
    padding-left: 0;
    width: 50%!important;
    min-width: 670px;
    float:unset;
    margin-left: unset;
    margin: 0 auto;
}
#wrapper #page{
    background: unset;
}
#wrapper #rs .tt{
    margin:0px -20px 1px 0px;
}
#wrapper  #content_left .c-container{
    width: 100% !important;
    min-width:650px;
}
@media screen and (min-width: 1000px) {
    #wrapper  #content_left, #wrapper  #rs{
        min-width:850px;
    }
}
#wrapper  #content_right{
    margin-right: calc(15vw - 210px);
    display:none;
}
@media screen and (min-width:1600px){
  #wrapper  #content_right{
    display:block;
    float: unset;
    position: absolute;
  }
}
#wrapper #page a, #wrapper #page strong{
    margin-right: 22px !important;
}
#wrapper #page .page-inner{
    padding-left: 22px;
    display: flex;
    justify-content: center;
}
.s_tab_inner{
    display:block !important;
}
#container .hint_common_restop{
    position: absolute;
    left: calc(45vw - 500px);
    margin-top: 25px;
}
/*search engine jump*/
#sej-container{
    padding-left: calc(44% - 478px) !important;
}
.s_form_wrapper {
    justify-content: center;
    display: flex;
}
#wrapper #s_tab{
    display: flex;
    justify-content: center;
}
#wrapper .head_nums_cont_outer .search_tool_conter,
#wrapper .head_nums_cont_outer .nums {
    width: 80%;
}
@media screen and (max-width:1450px){
    form.fm .s_ipt_wr.bg{
        min-width: 330px;
    }
}

