/*Store BingOnePageStyle*/
#b_content aside{
    display:none;
}
#b_content #b_results{
    width: 73vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 880px;
}
body #b_header{
    width: 72vw;
    text-align: center;
    margin: 0 auto;
}
body #b_content{
    display: flex;
    justify-content: center;
    margin-left: unset;
    padding-left: unset;
}
#b_content #b_results>li:not(#mfa_root) {
    width:98%;
}
