/*Store BingOnePageStyle*/

#b_content #b_results {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}

body #b_header {
    width: 72vw;
    text-align: center;
    margin: 0 auto;
}

body #b_content {
    display: flex;
    justify-content: center;
    margin-left: unset;
    padding-left: unset;
}

#b_content #b_results>li:not(#mfa_root) {
    width: 98%;
}


/* remove Related Search */

.b_rrsr {
    display: none;
}