/*Store BingOnePageStyle*/
#b_content aside{
    display:none;
}
#b_content #b_results{
    width: 73vw;
}
body #b_header{
    width: 72vw;
    text-align: center;
    margin: 0 auto;
}
#b_content{
    margin-left: 8vw;
}
#b_content #b_results>li{
    width:98%;
}
