/******************* Store GoogleCommonStyle *******************/
/* regular items, warring: iframes could be videos*/
div.res_top_banner,
#page .fk,
#head .headBlock,
#rs_top_new,
#content_right,
#rso>table,
#rso>div[id*="30"],
#rso .c-recommend,
#rso .leftBlock,
#rso .hit_top_new,
#rso #fld,
#rso div.rrecom-btn-parent,
#content_right,
#center_col>#taw,
#fld,
#demo {
    display: none!important;
}
/******************* init *******************/
body[google] {
    background-color: #fDfDfD;
}
#cnt #hdtbSum, #cnt>#appbar{
    background: rgba(0,0,0,0);
}
#form .bdsug{
    width: 76%;
}
#ala_img_results{
    overflow:hidden;
}
a,
a em {
    text-decoration: none;
}
/******************* rewrite header *******************/

#head,
#s_tab {
    background-color: #f8f8f8;
}
#head {
    border-bottom: none;
}
#form {
    background-color: unset;
}
#form .bdsug li {
    width: auto;
    color: #000;
    font: 15px arial;
    line-height: 26px;
}
#form .s_ipt_wr.bg {
    background: #fff;
    width: 76%;
}
#form .s_btn {
    background: #2866bd;
    border-bottom: 1px solid #4879bd;
}
#form .s_btn:hover {
    background: #4879bd;
    border-bottom: 1px solid #2866bd;
}
#s_tab b {
    color: #2866bd;
    border-bottom: 3px #2866bd solid;
}
#s_tab {
    border-bottom: #e0e0e0 1px solid;
}
#u a {
    text-decoration: none;
}
/******************* rewrite - searchBox *******************/
/* SearchTools */
#container .head_nums_cont_outer .search_tool_conter,
#container .head_nums_cont_outer .nums {
    width: 630px;
}

/* SearchItmes Bottom to Top ani */
#search #rso{
    animation-name: ani_bottomTotop;
    animation-duration: .3s;
    animation-timing-function: ease;
}
/* SearchBar Left to Right ani */
.srp form{
    animation-name: ani_leftToright;
    animation-duration: .3s;
    animation-timing-function: ease-out;
}

#rso .jUmkFb:hover {
    margin: 0 auto;
    border-left:unset;
    padding: 0px 20px 15px;
    margin-bottom: 40px;
}
#rs, #rso>.g{
    width: 760px;
    padding: 0px 20px 15px;
    margin-top: 0px;
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 2px gray;
    border: 1px solid rgba(0,0,0,0);
    -webkit-box-shadow: 0 0 2px gray;
    -moz-box-shadow: 0 0 2px gray;
    transition: all 0.25s cubic-bezier(.23,1,.32,1) 0s;
}
#rs, #rso .g div.rc .s{
    max-width:unset;
}
#rso .g:hover{
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .18);
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #fafafa;
}
#rso .g[tpl='soft'] .op-soft-title,
#rso .g div.r {
    margin: 0px -20px 10px -20px;
    padding: 8px 20px 5px;
    border-radius: 5px 5px 0px 0px;
}
/* Items - Color */
#rso .f13 a,
#rso .f13 em,
#rso .c-span18 a,
#rso .subLink_factory a,
#rso .c-tabs-content a,
#rso .op_offical_weibo_content a,
#rso .op_offical_weibo_pz a,
#rso .op_tieba2_tablinks_container a,
#rso .op-tieba-general-right,
#rso .op_dq01_title,
#rso .op_dq01_table a,
#rso .op_dq01_morelink a,
#rso .op-tieba-general-mainpl a,
#rso .op-se-listen-recommend,
#rso .c-offset>div a {
    text-decoration: none;
    color: #2866bd;
}
#rso .f13 a:hover,
#rso .f13 em:hover,
#rso .subLink_factory a:hover,
#rso .c-tabs-content a:hover,
#rso .op_tieba2_tablinks_container a:hover,
#rso .op-tieba-general-right:hover,
#rso .op_dq01_title:hover,
#rso .op_dq01_table a:hover,
#rso .op_dq01_morelink a:hover,
#rso .op-tieba-general-mainpl a:hover,
#rso .op-se-listen-recommend:hover,
#rso .c-offset>div a:hover {
    text-decoration: underline!important;
}
#rso .f13 a {
    color: #008000;
}
/* Items - Adj */

#rso .c-span18, #rso .c-span24{
    width: 100%;
    min-width: unset;
}
#rso .c-border {
    width: auto;
    border: none;
    border-bottom-color: transparent;
    border-right-color: transparent;
    box-shadow: 0px 0px 0px transparent;
    -webkit-box-shadow: 0px 0px 0px transparent;
    -moz-box-shadow: 0px 0px 0px transparent;
    -o-box-shadow: 0px 0px 0px transparent;
}
/* Img */

#rso .se_com_irregular_gallery ul li,
#rso .op_jingyan_list,
#rso .g .op-img-address-link-type {
    display: inline-block;
    margin-left: 10px;
}
/* title */
#rso .g[tpl='soft'] .op-soft-title a,
#rso .g[tpl='soft'] .op-soft-title a em,
#rso .g div.r> a,
#rso .g a h3,
#rso .g div.r> a em,
.mw #res h3,
.mw #extrares h3{
    color: #2866bd;
    font-weight: bold;
}
/* title:visied */
#rso .op-soft-title a:visited,
#rso .op-soft-title a:visited em,
#rso .g div.r> a:visited,
#rso .g div.r> a:visited em,
#rso .g a:visited h3 {
    color: #660099;
}
#rso .op-soft-title a,
#rso .g div.r> a {
    position: relative;
}
#rso .op-soft-title a em,
#rso .g div.r> a em {
    text-decoration: none;
}
#rso .op-soft-title a:hover:after,
#rso .g div.r> a:hover:after {
    left: 0;
    width: 100%;
    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    transition: width 350ms;
}
#rso .op-soft-title a:after,
#rso .g div.r> a:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #2866bd;
    bottom: -2px;
    left: 100%;
    width: 0;
    -webkit-transition: width 350ms, left 350ms;
    -moz-transition: width 350ms, left 350ms;
    transition: width 350ms, left 350ms;
}

#rso .op-soft-title a, #rso .g div.r> a {
    position: relative;
}

#rso .op-soft-title a:visited:hover:after,
#rso .g div.r> a:visited:hover:after {
    left: 0;
    width: 100%;
    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    transition: width 350ms;
}
#rso .op-soft-title a:visited:after,
#rso .g div.r> a:visited:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #660099;
    bottom: -2px;
    left: 100%;
    width: 0;
    -webkit-transition: width 350ms, left 350ms;
    -moz-transition: width 350ms, left 350ms;
    transition: width 350ms, left 350ms;
}
/*  About Search Result */

#rs {
    margin-top: 0px;
    padding: 0px 20px 15px;
    border-radius: 5px;
}
#rs .tt {
    margin: 0px -20px 5px -20px;
    padding: 5px 20px;
    background-color: #f8f8f8;
    border-radius: 5px 5px 0px 0px;
}
#rs table {
    width: 630px;
    padding: 5px 15px;
}
#rs table tr a {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #2866bd;
}
#rs table tr a:hover {
    text-decoration: underline;
}
/* page nums */

#page {
    min-width: 710px;
    height: 40px;
    line-height: 40px;
    padding-top: 5px;
    margin: 0px 0px 50px 80px;
}
.op-img-address-desktop-cont{
    overflow: hidden;
}
#page a,
#page strong {
    color:#2866bd;
    height: auto;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
}
#page .n:hover,
#page a:hover .pc {
    border: 1px solid transparent;
    background: #d8d8d8;
    color: #0057da;
}
#page strong .pc {
    background: #4879bd;
    color: white;
}
/* ani */
@keyframes ani_bottomTotop {
    0% {
        transform: translateY(32px);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
@keyframes ani_leftToright {
    0% {
        transform: translateX(-32px);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}
#rso>div:not([class]){
    margin-left: 18px;
    margin-right: 18px;
}
#rso .g .exp-outline{
    display:none;
}
#main .mw #rhs {
    margin-left: 1020px;
}
#res .g .ts{
    max-width: unset;
}
@media screen and (max-width:1400px){
  .mw #rhs{
    display:none;
  }
}
cite{
    font-weight:normal;
}
/**Mooncan -START**/
/**Aja LineHeight*/
div.res_top_banner #foot,#pag
#res .r{
    line-height: 1.3;
}
#res{
    padding: 0;
}
/**Google ConnectionBox*/
#rs, #rso .g {
    margin-bottom: 20px;
    border-radius: 10px;
}
#rso .g div.r {
    border-radius: 10px 10px 0px 0px;
}
/**Rewrite main page -> web summary*/
 .c2xzTb .g, .ruTcId .g, .fm06If .g, .cUnQKe .g, .HanQmf .g {
    width: 758px;
    padding-left:  20px !important;
    padding-right: 20px !important;
    box-shadow: 0 0 0px 0px rgb(0, 0, 0); /*remove the shadow*/
}
div .xfxx5d {
    margin-bottom: -18px !important;
    margin-top: -25px !important;
}
div .xaqJzf.xfxx5d .kno-ftr{
    margin-top: 10px !important;
}
div .kno-ftr a{
    position: sticky;
}
/**Thanks to Mooncan -END**/
.mw #res h3, .mw #extrares h3{
    /**reset font size**/
    font-size: 18px;
}
/*deal with cite too long and title too short*/
#rso>.g .r>a>div{
    width: 35rem;
}
div.rc[ac-needhide]{
    margin-top: 5px;
    margin-bottom: -15px;
}
/*reset logo position at drop */
.logo{
    top:unset;
}
body[google] .big .baidu{
    transform: unset !important;
    margin-top: -10px;
    margin-left: -2rem;
}
body[google] .big .baidu #logo img{
    margin-top: -15px;
}
body[google] .big.minidiv .baidu #logo img{
    height: 59px;
    width: unset;
    margin-top: -18px;
}

