/**Store GoogleTwoPageStyle**/
.srg {
    position: relative;
    float: unset;
}
.srg .jUmkFb:hover {
    margin-bottom: 30px;
    margin-left: 20px;
}
.srg>.g, #rso>.g{
    width: unset;
    margin-left: 20px;
    overflow: hidden;
    padding: 0px 20px 15px;
    margin-top: 0px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 2px gray;
    -moz-box-shadow: 0 0 2px gray;
    transition: all 0.25s cubic-bezier(.23,1,.32,1) 0s;
}
.search>#ires .srg>.g{
    max-width: unset;
}
#main .mw #rhs{
    display:none;
}
#main .mw{
    max-width: unset;
}
#main #cnt{
    width: 80vw;
    margin: 0 auto;
}
#acid_src>div{
    width: unset;
    margin-left: 20px;
    grid-column-start: 1;
    grid-column-end: 6;
}
.srg .COEoid{
    margin: unset;
}
.col{
    width: 100% !important;
}
.col #center_col{
    width: 100% !important;
    margin-left: unset !important;
}
#acid_src{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
}
.srg{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
}
#acid_src div:last-child{
    grid-column-end: 3;
}
/**search box align center**/
.srp form{
    margin:0 auto;
}
.srp form div[jscontroller]{
    margin-left: unset;
    margin: 0 auto;
}
/**video box align center**/
g-section-with-header{
    text-align: center;
}
