/**Store GoogleTwoPageStyle**/
#search #rso {
    position: relative;
    float: unset;
    width: 800px;
    margin: 0 auto;
    align-items: stretch;
    justify-items: stretch;
    grid-gap: 20px;
}
#rso .jUmkFb:hover {
    margin-bottom: 30px;
    margin-left: 20px;
}
#rso .g{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px 20px 15px;
    margin-top: 0px;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    transition: all 0.25s cubic-bezier(.23,1,.32,1) 0s;
}
#rso>div {
    width: 100%;
}
.search>#ires #rso>.g{
    max-width: unset;
}
#rso>.g ~ div:not(.g){
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
#main #rcnt{
    max-width: unset;
}
body #appbar,body .rhscol, body #top_nav, body #fbar{
    min-width: unset;
}
#rso g-scrolling-carousel{
    margin: unset;
    margin-left: 20px;
}
.col{
    width: 100% !important;
}
.col #center_col{
    width: 100% !important;
    margin-left: unset !important;
}
.srp .big #tsf{
    width: 833px;
}
/**search box align center**/
.srp form{
    margin: 0 auto;
}
#top_nav{
    min-width: unset;
}
/**video box align center**/
g-section-with-header{
    text-align: center;
}
#hdtb #hdtb-msb{
    justify-content: center;
    width: 100%;
}
#hdtb #hdtb-msb-vis{
    margin-left: -169px;
}
.AC.sp-separator {
    margin-top: -20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.FxLDp{
    padding: unset;
}
#main #cnt, #cnt #center_col, #cnt #foot{
    width: calc(36.3vw + 525px);
    margin: 0 auto;
}
@media screen and (max-width:1440px){
    .RNNXgb{
        width: 80% !important;
    }
}
