/******************* 屏蔽不需要的内容 *******************/
/* 普通内容 */
iframe,
.res_top_banner
#foot,
#page .fk,
#head .headBlock,
#rs_top_new,
#content_right,
#content_left>table,
#content_left>div[id*="30"],
#content_left .c-recommend,
#content_left .leftBlock,
#content_left .hit_top_new,
#content_left .rrecom-btn-parent,
#content_right,
#demo {
    display: none!important;
}
/******************* 初始化 *******************/
body {
    background-color: #f5f5f5;
}
#form .bdsug{
    width: 76%;
}
#ala_img_results{
    overflow:hidden;
}
a,
a em {
    text-decoration: none;
}
/******************* 布局重写 - 头部 *******************/

#head,
#s_tab {
    background-color: #f8f8f8;
}
#head {
    border-bottom: none;
}
#form {
    background-color: unset;
}
#form .bdsug li {
    width: auto;
    color: #000;
    font: 15px arial;
    line-height: 26px;
}
#form .s_ipt_wr.bg {
    background: #fff;
    width: 76%;
}
#form .s_btn {
    background: #2866bd;
    border-bottom: 1px solid #4879bd;
}
#form .s_btn:hover {
    background: #4879bd;
    border-bottom: 1px solid #2866bd;
}
#s_tab b {
    color: #2866bd;
    border-bottom: 3px #2866bd solid;
}
#s_tab {
    border-bottom: #e0e0e0 1px solid;
}
#u a {
    text-decoration: none;
}
/******************* 布局重写 - 搜索显示内容 *******************/
/* 搜索工具 */
#container .head_nums_cont_outer .search_tool_conter,
#container .head_nums_cont_outer .nums {
    width: 630px;
}
/* 条目 */
#content_left {
    animation-name: left_logoR;
    -webkit-animation-duration: .1s;
    -webkit-animation-timing-function: ease;
}

#rs,
#content_left .c-container {
    width: 670px;
    padding: 0px 20px 15px;
    margin-top: 0px;
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
}
#content_left .result-op:hover,#content_left .result:hover{
    box-shadow:0 0 2px gray;background:rgba(230,230,230,0.1)!important;
}
#content_left .c-container[tpl='soft'] .op-soft-title,
#content_left .c-container h3 {
    background-color: #f8f8f8;
    margin: 0px -20px 10px -20px;
    padding: 8px 20px 5px;
    border-radius: 5px 5px 0px 0px;
}
/* 条目 - 颜色 */
#content_left .f13 a,
#content_left .f13 em,
#content_left .c-span18 a,
#content_left .subLink_factory a,
#content_left .c-tabs-content a,
#content_left .op_offical_weibo_content a,
#content_left .op_offical_weibo_pz a,
#content_left .op_tieba2_tablinks_container a,
#content_left .op-tieba-general-right,
#content_left .op_dq01_title,
#content_left .op_dq01_table a,
#content_left .op_dq01_morelink a,
#content_left .op-tieba-general-mainpl a,
#content_left .op-se-listen-recommend,
#content_left .c-offset>div a {
    text-decoration: none;
    color: #2866bd;
}
#content_left .f13 a:hover,
#content_left .f13 em:hover,
#content_left .subLink_factory a:hover,
#content_left .c-tabs-content a:hover,
#content_left .op_tieba2_tablinks_container a:hover,
#content_left .op-tieba-general-right:hover,
#content_left .op_dq01_title:hover,
#content_left .op_dq01_table a:hover,
#content_left .op_dq01_morelink a:hover,
#content_left .op-tieba-general-mainpl a:hover,
#content_left .op-se-listen-recommend:hover,
#content_left .c-offset>div a:hover {
    text-decoration: underline!important;
}
#content_left .f13 a {
    color: #008000;
}
/* 条目 - 调节 */

#content_left .c-span18, #content_left .c-span24{
    width: 100%;
    min-width: unset;
}
#content_left .c-border {
    width: auto;
    border: none;
    border-bottom-color: transparent;
    border-right-color: transparent;
    box-shadow: 0px 0px 0px transparent;
    -webkit-box-shadow: 0px 0px 0px transparent;
    -moz-box-shadow: 0px 0px 0px transparent;
    -o-box-shadow: 0px 0px 0px transparent;
}
/* Img */

#content_left .se_com_irregular_gallery ul li,
#content_left .op_jingyan_list,
#content_left .c-container .op-img-address-link-type {
    display: inline-block;
    margin-left: 10px;
}
/* 标题*/
#content_left .c-container[tpl='soft'] .op-soft-title a,
#content_left .c-container[tpl='soft'] .op-soft-title a em,
#content_left .c-container h3 a,
#content_left .c-container h3 a em {
    color: #2866bd;
    font-weight: bold;
}
#content_left .op-soft-title a,
#content_left .c-container h3 a {
    position: relative;
}
#content_left .op-soft-title a em,
#content_left .c-container h3 a em {
    text-decoration: none;
}
#content_left .op-soft-title a:hover:after,
#content_left .c-container h3 a:hover:after {
    left: 0;
    width: 100%;
    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    transition: width 350ms;
}
#content_left .op-soft-title a:after,
#content_left .c-container h3 a:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #2866bd;
    bottom: -2px;
    left: 100%;
    width: 0;
    -webkit-transition: width 350ms, left 350ms;
    -moz-transition: width 350ms, left 350ms;
    transition: width 350ms, left 350ms;
}
/* 标题:visied */

#content_left .op-soft-title a #content_left .c-container h3 a {
    position: relative;
}
#content_left .op-soft-title a:visited,
#content_left .op-soft-title a:visited em,
#content_left .c-container h3 a:visited,
#content_left .c-container h3 a:visited em {
    color: #660099;
}
#content_left .op-soft-title a:visited:hover:after,
#content_left .c-container h3 a:visited:hover:after {
    left: 0;
    width: 100%;
    -webkit-transition: width 350ms;
    -moz-transition: width 350ms;
    transition: width 350ms;
}
#content_left .op-soft-title a:visited:after,
#content_left .c-container h3 a:visited:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #660099;
    bottom: -2px;
    left: 100%;
    width: 0;
    -webkit-transition: width 350ms, left 350ms;
    -moz-transition: width 350ms, left 350ms;
    transition: width 350ms, left 350ms;
}
/* 相关搜索 */

#rs {
    margin-top: 0px;
    padding: 0px 20px 15px;
    border-radius: 5px;
}
#rs .tt {
    margin: 0px -20px 5px -20px;
    padding: 5px 20px;
    background-color: #f8f8f8;
    border-radius: 5px 5px 0px 0px;
}
#rs table {
    width: 630px;
    padding: 5px 15px;
}
#rs table tr a {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #2866bd;
}
#rs table tr a:hover {
    text-decoration: underline;
}
/* 页码 */

#page {
    min-width: 710px;
    height: 40px;
    line-height: 40px;
    padding-top: 5px;
    margin: 0px 0px 50px 80px;
}
.op-img-address-desktop-cont{
    overflow: hidden;
}
#page a,
#page strong {
    color:#2866bd;
    height: auto;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
}
#page .n:hover,
#page a:hover .pc {
    border: 1px solid transparent;
    background: #d8d8d8;
    color: #0057da;
}
#page strong .pc {
    background: #4879bd;
    color: white;
}
/* 动画 */
@-webkit-keyframes left_logoR {
    0% {
        -webkit-transform: translateY(64px);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

