#taw{
    max-width:unset;
}
.bkWMgd .g{
    width: 870px !important;
}
.bkWMgd>div:not([class]){
    width: 840px !important;
}
#rs, .srg .g .rc .s{
    max-width:unset;
}
#res{
    margin-left:unset !important;
}
.sfibbbc{
    width: 760px;
}