.srg{
    margin-left: calc(34% - 600px) !important;
    padding-left: calc(5% + 180px) !important;
}
.bkWMgd>#imagebox_bigimages, #taw{
    margin-left: calc(39% - 420px) !important;
}
#rs, .srg .g{
    width: 870px !important;
}
#rs, .srg .g .rc .s{
    max-width:unset;
}
#res{
    margin-left:unset !important;
}
.tsf{
    margin-left: calc(39% - 380px) !important;
}
.appbar, #hdtb-msb{
    padding-left: calc(34% - 380px) !important;
}
#foot, #bottomads~#extrares, #ires>#brs{
    margin-left: calc(34% - 380px);
}
.sfibbbc{
    width: 760px;
}
.bkWMgd>div:not([class]){
    margin-left: calc(34% - 600px) !important;
    padding-left: calc(5% + 180px) !important;
    width: 870px !important;
    max-width: 870px;
}