.invoce-failed{
  color: white !important;
  background-color: #a5a5a5;
}
.invoce-processing{
  color: black !important;
  background-color: #ffeab1;
}
.invoce-finishi{
  color: black !important;
  background-color: #faaa63;
}
